@model BOM_MPA.Web.Areas.PRM.ViewModel.TestResultforApplicantInfoViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_JobList</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
