<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pc88/pms</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>PC88</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/pms</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>WDeployAdmin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Default" Order="1" Enabled="False">
          <Destination Path="Data Source=PC88\SQL2012;Initial Catalog=VistaLOANDefault_v1;Persist Security Info=True;User ID=sa;Password=sa1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PC88\SQL2012;Initial Catalog=VistaLOANDefault_v2;User ID=sa;Password=sa1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Default_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=PC88\SQL2012; Initial Catalog=VistaLOANDefault_v2; User Id=sa; Password=sa1234;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Bill" Order="2" Enabled="False">
          <Destination Path="Data Source=PC88\SQL2012;Initial Catalog=VistaLOANv15;Persist Security Info=True;User ID=sa;Password=sa1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PC88\SQL2012;Initial Catalog=VistaLOANv2;User ID=sa;Password=sa1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Bill_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=PC88\SQL2012; Initial Catalog=VistaLOANv2; User Id=sa; Password=sa1234;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Yard" Order="3" Enabled="False">
          <Destination Path="Data Source=PC88\SQL2012;Initial Catalog=VistaLOANv1;Persist Security Info=True;User ID=sa;Password=sa1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PC88\SQL2012;Initial Catalog=VistaLOANv2;User ID=sa;Password=sa1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Yard_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=PC88\SQL2012; Initial Catalog=VistaLOANv2; User Id=sa; Password=sa1234;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="POMS_MPA" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PC88\SQL2012;Initial Catalog=POMS_MPA;User ID=sa;Password=sa1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\POMS_MPA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=PC88\SQL2012; Initial Catalog=POMS_MPA; User Id=sa; Password=sa1234;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Bill-Web.config Connection String">
      <ParameterValue>Data Source=PC88\SQL2012;Initial Catalog=VistaLOANv15;Persist Security Info=True;User ID=sa;Password=sa1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Default-Web.config Connection String">
      <ParameterValue>Data Source=PC88\SQL2012;Initial Catalog=VistaLOANDefault_v1;Persist Security Info=True;User ID=sa;Password=sa1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)POMS_MPA-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Yard-Web.config Connection String">
      <ParameterValue>Data Source=PC88\SQL2012;Initial Catalog=VistaLOANv1;Persist Security Info=True;User ID=sa;Password=sa1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>